body {
  margin: 0;
  background: #0f172a;
  font-family: sans-serif;
  color: white;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.ui-panel {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 10px;
}

.top-left {
  top: 10px;
  left: 10px;
}

.bottom-center {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}